<div cdkDrag id="launchpad">
  <div id="waveform"></div>
  <table id="launch">
    <tbody>
      <tr>
        <td class="first-color"></td>
        <td class="first-color"></td>
        <td class="first-color"></td>
      </tr>
      <tr>
        <td class="second-color"></td>
        <td class="second-color"></td>
        <td class="second-color"></td>
      </tr>
      <tr>
        <td class="third-color"></td>
        <td class="third-color"></td>
        <td class="third-color"></td>
      </tr>
      <tr>
        <td class="fourth-color"></td>
        <td class="fourth-color"></td>
        <td class="fourth-color"></td>
      </tr>
      <!--       <tr>
        <td class="fifth-color"></td>
        <td class="fifth-color"></td>
        <td class="fifth-color"></td>
      </tr> -->
    </tbody>
  </table>
</div>
